/* Coolors Exported Palette - coolors.co/000000-ffffff-679a9c-e6b842-989691 */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(182%, 21%, 51%, 1);
$color4: hsla(43%, 77%, 58%, 1);
$color5: hsla(43%, 3%, 58%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(103, 154, 156, 1);
$color4: rgba(230, 184, 66, 1);
$color5: rgba(152, 150, 145, 1);